.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  margin: 10px
}

ul{
  text-align: center
}
  
  .left {
  position: absolute;
  left: 0;
}   
 
 .right { 
  position: relative;
  right: -1010px;
}  
 .list-groupo{
 width:40%;
 position: absolute;
 right:0;
 margin:5px;
 
    /* position: absolute; */
    /* flex-basis: unset; */
    position: relative;
    right: -640px;

}
/* .con{
  color:brown;
  border: thin solid black;
  border-top-right-radius: 25px;
   width:40%; 
  margin: 10px
} */

#list:hover{
  background-color: #abfb61
}


.bg { 
  background-image: url("https://mobirise.com/bootstrap-template/assets/images/brooke-lark-207271-2000x1333.jpg");
  border-bottom: 1px dotted black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    right: -85px;
    width: 86%;
}

.nav {
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  right: 10px;
}
#search{
  background-color: coral
}
#adsearch{
  background-color: rgb(80, 214, 255)
}
 .img{
  height:20%;
  width:20%
}


.edit{
  position:absolute;
   top:0;
   right:0;
}
#closeId{
  position: relative;
  left: 277px;
}
.linkDiv{
  width:39%;
}
#movieSearch{
  width:25%;
  background-color: coral
}
.routeDiv {
  position: fixed;
  right: 30;
  left: 525px;
  top: 127px;
  width: 30%;
 margin-bottom: 20px;
  z-index: 1000;
}
.movieDiv mb-4{
  z-index:200;
}
.card-text{color:rgb(133, 66, 117);
 font-size: 11px;
 font-weight: 500
}

#delete{
  position: absolute;
  right:-0;
  bottom:0
}
#close{
  position: absolute;
  bottom:0;
  left: 208px;
}

.add {
  position: absolute;
  top: 75px;
  right: 670px;
  left: 10;
}
.hoo{
  position: absolute;
  top: 0
}
.addcard{
  width:39%;
}
#addcard{background-color: #8b6e7c;
  position: fixed;
  z-index: 1000;
  }
  #movieform{
    display: grid;
  grid-auto-columns:150px;
  justify-content: space-between;
  }
  .inputadd{
    grid-column: 2/ 3;
  }
#closeadd{
 position:absolute;
 right:0;
 bottom:20px;
}

.directorName {
  font-size: 12px;
}
#dropdown{
  height:20%;
}
